<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>

  <!-- 引入外部 CSS 文件 -->
  <link rel="stylesheet" href="assets/css/style.css">

</head>
{% include mathjax_support.html %}
<body>

  <!-- Header -->
  <header>
    <p class="published-date"><em>Published on {{ page.date | date: "%B %d, %Y" }}</em></p>
    <!-- 第一个按钮：返回主页 -->
    <button class="btn" onclick="window.location.href='/'">主页</button>
    <!-- 第二个按钮：可以定制其他功能，例如返回到上一个页面或其他功能 -->
    <button class="btn" onclick="window.history.back()">返回</button> <!-- 返回上一个页面 -->
  </header>

  <!-- Main Content -->
  <div class="content">

    {{ content }} <!-- 渲染文章内容 -->
  </div>

  <!-- Footer -->
  <footer>
    <p>&copy; {{ site.time | date: "%Y" }}.</p>
  </footer>

</body>
{% include footer.html %}
</html>
